<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">    
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="css/transfert-bootstrap.css" media="screen" />
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico"/>
        
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

<!-- Si la version du navigateur est inférieure à IE 9, on charge ces Javascripts -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
   
  <title>PRESTIJ - Consultation des flux</title>
    
</head>
<body class="dec" >
<div class="dec" >
  
    <img src="./img/logo_home.jpg" width=130 height=70 align="left">
    <p>
    *** Déconnexion effectuée ! ***
    <br><br>    
    Vous avez été correctement déconnecté, merci de fermer votre navigateur
    <br>               
    ou de <a href="#">Cliquer ici</a> pour revenir à l'application PRESTIJ.
    </p>
 
 </div>
 
</body>
</html>
