<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>transfert</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description>Saisie login utilisateur</description>
    <display-name>Page Login</display-name>
    <servlet-name>transfert.servlet.PageLogin</servlet-name>
    <servlet-class>transfert.servlet.PageLogin</servlet-class>
    <init-param>
      <param-name>versionCSS</param-name>
      <param-value>20250602</param-value>
    </init-param>
    <init-param>
      <param-name>versionJS</param-name>
      <param-value>20250602</param-value>
    </init-param>
    <init-param> 
      <param-name>lien</param-name>
      <param-value>transfert.servlet.PageSelection</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>transfert.servlet.PageLogin</servlet-name>
    <url-pattern>/AppliTransfert</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <description>Selection transfert CRE</description>
    <display-name>PageSelection</display-name>
    <servlet-name>transfert.servlet.PageSelection</servlet-name>
    <servlet-class>transfert.servlet.PageSelection</servlet-class>
    <init-param>
      <param-name>serveurDEV</param-name>
      <param-value>S44C0638</param-value>
    </init-param> 
     <init-param>
      <param-name>bibDEV</param-name>
      <param-value>AVTGPMDR</param-value>
    </init-param>
    <init-param>
      <param-name>serveurREC</param-name>
      <param-value>S65E890E</param-value>
    </init-param>
    <init-param>
      <param-name>loginREC</param-name>
      <param-value>ZAVTSECU</param-value>
    </init-param>
    <init-param>
      <param-name>mdpREC</param-name>
      <param-value>AVTMPG520</param-value>
    </init-param>
    <init-param>
      <param-name>bibREC</param-name>
      <param-value>AVTMPGDTA</param-value>
    </init-param>
    <init-param>
      <param-name>serveurPROD</param-name>
      <param-value>S65E890E</param-value>
    </init-param>
    <init-param>
      <param-name>loginPROD</param-name>
      <param-value>FICHIER</param-value>
    </init-param>
    <init-param>
      <param-name>mdpPROD</param-name>
      <param-value>GPM520AAA</param-value>
    </init-param>
    <init-param>
      <param-name>bibPROD</param-name>
      <param-value>AVTGPMDTA</param-value>
    </init-param>
    <init-param>
      <param-name>retourMenu</param-name>
      <param-value>transfert.servlet.PrestijAcceuil</param-value>
    </init-param>
    <init-param>
      <param-name>lienQuitter</param-name>
      <param-value>transfert.servlet.PageDeconnexion</param-value>
    </init-param>
    <init-param>
      <param-name>lienErreur</param-name>
      <param-value>transfert.servlet.HtmlSessionErreur</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>transfert.servlet.PageSelection</servlet-name>
    <url-pattern>/transfert.servlet.PageSelection</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Déconnexion application</description>
    <display-name>Deconnexion</display-name>
    <servlet-name>transfert.servlet.PageDeconnexion</servlet-name>
    <servlet-class>transfert.servlet.PageDeconnexion</servlet-class>
    <init-param>
      <param-name>versionCSS</param-name>
      <param-value>20170102</param-value>
    </init-param>
    <init-param>
      <param-name>versionJS</param-name>
      <param-value>20170101</param-value>
    </init-param>
    <init-param>
      <param-name>lien</param-name>
      <param-value>transfert.servlet.PageLogin</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>transfert.servlet.PageDeconnexion</servlet-name>
    <url-pattern>/transfert.servlet.PageDeconnexion</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Page Html Erreur Session</description>
    <display-name>HtmlSessionErreur</display-name>
    <servlet-name>transfert.servlet.HtmlSessionErreur</servlet-name>
    <servlet-class>transfert.servlet.HtmlSessionErreur</servlet-class>
    <init-param>
      <param-name>versionCSS</param-name>
      <param-value>20250601</param-value>
    </init-param>
    <init-param>
      <param-name>versionJS</param-name>
      <param-value>20250601</param-value>
    </init-param>
    <init-param>
      <param-name>lienAppli</param-name>
      <param-value>transfert.servlet.PageLogin</param-value>
    </init-param>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>transfert.servlet.HtmlSessionErreur</servlet-name>
    <url-pattern>/transfert.servlet.HtmlSessionErreur</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
</web-app>